.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.datawheel {
  display: block;
  margin: 0 auto;
  width: 256px;
  cursor: pointer;
  transition: transform 0.25s ease-in-out;
}
.datawheel:hover {
  transform: scale(1.05);
}
.datawheel:active {
  transition-duration: 0.1s;
  transform: scale(1);
}

.ring {
  animation: spin 5s 0s infinite linear;
  transform-origin: 256px 256px;
}
.ring.middle {
  animation-direction: reverse;
}

.stop .ring {
  animation-play-state: paused;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  margin-bottom: 0.5rem;
}

.error-boundary {
  margin: 10px 15px;
  font-size: 12px;
}
.error-boundary dd {
  white-space: pre-line;
}
